<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{>header}}
    <p>{{ScreamIt welcomeMsg}}</p> <!-- Call ScreamIt helper and "pass" in one argument being the welcome message -->

    {{> footer}}
  </body>
</html>
